<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head th:replace="fragments/common:: head('채팅')">-->
<!--<link rel="sytlesheet" src="/css/chatStyle.css">-->

<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--  <link rel="stylesheet" type="text/css"-->
<!--    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">-->

<!--</head>-->

<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('chat')">-->
<!--</nav>-->

<!--<body>-->
<!--    <div class="container-fluid">-->

<!--    <div class="row">-->

<!--      <div class="col-sm-12">-->


<!--        <div id="user_chat_data" class="user_chat_data">-->
<!--          <div class="profile_name">-->
<!--            &nbsp;&nbsp;&nbsp;&nbsp;<img src="/img/profile.png" class="mr-3 rounded-circle"> &nbsp;&nbsp;-->
<!--            <span id="username"></span>-->
<!--          </div>-->

<!--          <div class="container-fluid chat_section" id="chat-box">-->

<!--          </div>-->

<!--          <div class="type_msg">-->
<!--            <div class="input_msg_write">-->
<!--              <input id="chat-outgoing-msg" type="text" class="write_msg" placeholder="Type a message" />-->
<!--              <button id="chat-outgoing-button" class="msg_send_btn" type="button"><i class="fa fa-paper-plane"-->
<!--                  aria-hidden="true"></i></button>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


<!--  </div>-->

<!--  </div>-->


<!--</body>-->
<!--    <script src="/js/chatJs.js"></script>-->
<!--  &lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"-->
<!--    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"-->
<!--    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"-->
<!--    crossorigin="anonymous"></script>-->


<!--</html>-->















<!DOCTYPE html>
<html>

<head>
  <title>What's App</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/css/chatStyle.css">
</head>

<body>
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12">


        <div id="user_chat_data" class="user_chat_data">
          <div class="profile_name">
            &nbsp;&nbsp;&nbsp;&nbsp;<img src="./img/profile.png" class="mr-3 rounded-circle"> &nbsp;&nbsp;
            <span id="username"></span>
          </div>
          <!--채팅박스-->
          <div class="container-fluid chat_section" id="chat-box">

          </div>

          <div class="type_msg">
            <div class="input_msg_write">
              <!--채팅 인풋창-->
              <input id="chat-outgoing-msg" type="text" class="write_msg" placeholder="Type a message" />
              <button id="chat-outgoing-button" class="msg_send_btn" type="button"><i class="fa fa-paper-plane"
                  aria-hidden="true"></i></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  </div>

  </div>
  <script src="/js/chatJs.js"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    // 로그인 시스템 대신 임시 방편

    console.log("test1"+ username);
    console.log("test2"+roomNum);
console.log("test3"+ eventSource);
    // 나머지 JavaScript 코드
});
  // 로그인 시스템 대신 임시 방편
let username = prompt("아이디를 입력하세요");
//let roomNum = prompt("채팅방 번호를 입력하세요");
  let roomNumString = prompt("채팅방 번호를 입력하세요");
 roomNum = parseInt(roomNumString);

document.querySelector("#username").innerHTML = username;

// SSE 연결하기. 객체 생성. 크로스 오리진 자바스크립트 요청은 서버쪽에서 봉쇄하고 있다. -> 서버에서 처리함
const eventSource = new EventSource(`https://plikim.com/chat/roomNum/${roomNum}`);
//const eventSource = new EventSource(`http://localhost:9090/sender/ssar/receiver/cos`);
//const eventSource = new EventSource(`https://plikim.com/chat/roomNum/${roomNum}`);

console.log(eventSource);
eventSource.onmessage = (event) => {
	console.log(1,event);
	const data = JSON.parse(event.data);
		console.log(2,data);
	if (data.sender === username) { // 로그인한 유저가 보낸 메시지
		// 파란박스(오른쪽)
		initMyMessage(data);
	} else {
		// 회색박스(왼쪽)
		initYourMessage(data);
	}
}

// 파란박스 만들기. 보내는 대화박스
function getSendMsgBox(data) {
        let a= data.getTimezoneOffset()

	let md = data.createdAt.substring(5, 10) -a/60
	let tm = data.createdAt.substring(11, 16) -a/60
	convertTime = tm + " | " + md

	return `<div class="sent_msg">
	<p>${data.msg}</p>
	<span class="time_date"> ${convertTime} / <b>${data.sender}</b> </span>
</div>`;
}

// 회색박스 만들기
function getReceiveMsgBox(data) {
   let a= data.getTimezoneOffset()

	let md = data.createdAt.substring(5, 10)-a/60
	let tm = data.createdAt.substring(11, 16)-a/60
	convertTime = tm + " | " + md

	return `<div class="received_withd_msg">
	<p>${data.msg}</p>
	<span class="time_date"> ${convertTime} / <b>${data.sender}</b> </span>
</div>`;
}

// 최초 초기화될 때 1번방 3건이 있으면 3건을 다 가져와요
// addMessage() 함수 호출시 DB에 insert 되고, 그 데이터가 자동으로 흘러들어온다(SSE)
// 파란박스 초기화하기
function initMyMessage(data) {
	let chatBox = document.querySelector("#chat-box");

	let sendBox = document.createElement("div");
	sendBox.className = "outgoing_msg";

	sendBox.innerHTML = getSendMsgBox(data);
	chatBox.append(sendBox);

	document.documentElement.scrollTop = document.body.scrollHeight;
}

// 회색박스 초기화하기
function initYourMessage(data) {
	let chatBox = document.querySelector("#chat-box");

	let receivedBox = document.createElement("div");
	receivedBox.className = "received_msg";

	receivedBox.innerHTML = getReceiveMsgBox(data);
	chatBox.append(receivedBox);

	document.documentElement.scrollTop = document.body.scrollHeight;
}

// AJAX 채팅 메시지를 전송
// async function addMessage() {
// 	let msgInput = document.querySelector("#chat-outgoing-msg");
//
// 	let chat = {
// 		sender: username,
// 		roomNum: roomNum,
// 		msg: msgInput.value
// 	};
// //"http://localhost:9090/chat"    "https://plikim.com/chat"
// 	fetch("https://plikim.com/chat", {
// 		method: "post", //http post 메서드 (새로운 데이터를 write)
// 		body: JSON.stringify(chat), // JS -> JSON
// 		headers: {
// 			"Content-Type": "application/json; charset=utf-8"
// 		}
// 	});
//
// 	msgInput.value = "";
// }
async function addMessage() {
    let msgInput = document.querySelector("#chat-outgoing-msg");
    let chat = {
        sender: username,
        roomNum: roomNum,
        msg: msgInput.value
    };

    try {
        const response = await fetch("https://plikim.com/chat", {
            method: "post",
            body: JSON.stringify(chat),
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        });

        if (response.ok) {
            // fetch 요청이 성공하면 추가 작업 수행
            msgInput.value = "";
        } else {
            // 요청이 실패한 경우에 대한 처리
            console.error("Fetch 요청 실패");
        }
    } catch (error) {
        // 오류 처리
        console.error("오류 발생: " + error);
    }
}





// 버튼 클릭시 메시지 전송
document.querySelector("#chat-outgoing-button").addEventListener("click", () => {
	//alert('hi');
	addMessage();
});

// 엔터를 치면 메시지 전송
document.querySelector("#chat-outgoing-msg").addEventListener("keydown", (e) => {
	if (e.keyCode === 13) {
	addMessage();
	}
});
</script>

</html>









