<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">
      <script>

            document.querySelector("#readButton").addEventListener("click", markAsRead);
       </script>

</head>
<body>
<!-- 파라미터로 board -> nav가 활성화 됨 -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('boardList')">
    </nav>

    <main role="main" class="container">
        <div class="starter-template">
            <h1>게시판</h1>
        </div>
    </main>
    <input type="hidden" id="loggedInUserId" name="loggedInUserId" th:value="${userSession}" />
    <div style="width: 80%; margin: 0 auto;">
        <!-- Thymeleaf 코드 -->
        <table>
            <thead>
            <tr>
                <th>방 번호</th>
                <th>마지막 메시지</th>
                <th>상대방</th>
                <th>생성 시간</th>
                <th>대화로 이동</th>
            </tr>
            </thead>
            <tbody>
                <!-- chatList에서 Chat 객체를 꺼내 테이블로 출력 -->
            <tr th:each="chat, rowStat : ${chatList}">
            <!-- 방 번호에서 현재 사용자 이름 제거 -->
                <td th:text="${chat.getRoomNum()}"></td>
                <td th:text="${chat.getMsg()}"></td>
                <td th:text="${chat.getReceiver()}"></td>
                <td th:text="${chat.getCreatedAt()}"></td>
                <!-- 대화하기 버튼 생성 -->
                <td>
                    <div class="d-flex mt-2">
                        <!-- 각 행에 대해 해당 행의 roomNum 값을 가져와서 버튼 생성 -->
<button class="btn1 btn-dark user-id-button" id="readButton" th:attr="data-user-id=${roomNumList[rowStat.index]}">대화하기</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var userButtons = document.querySelectorAll('.user-id-button');
    var userSession = document.getElementById('loggedInUserId').value;

    userButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        var recipient = button.getAttribute('data-user-id').replace(userSession, '');
        var url = '/chat?userId=' + recipient;
        location.href = url;
      });
    });
  });
</script>

</body>
</html>
