<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .user-table {
        float: left;
        width: 100px; /* 너비를 100px로 설정 */
        margin-right: 20px;
    }

    .user-table th, .user-table td {
        font-size: 12px;
    }

    .user-row {
        cursor: pointer;
    }
</style>



<head th:replace="fragments/common :: head('moment')">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('moment')">
</nav>

hi

</body>
</html>