<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
    .user-table th, .user-table td {
        font-size: 12px;
    }

    /* 추가된 스타일 */
    .form-container {

        margin-bottom: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;

    }


    .form-container-inputform {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 20px;
        border: 4px solid #8474c7;
        border-radius: 8px;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
        padding: 20px;
        /*border-bottom: 1px solid darkgray;*/
    }


    .input-area {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
    }

    .image-upload {
        margin-bottom: 10px;
    }

    .button-container {
        text-align: right;
    }

    .button-container button {
        margin-left: 10px;
    }

    .selected-images {
        display: flex;
    }

    .selected-images img {
        max-width: 100px;
        max-height: 100px;
        margin-right: 10px;
    }

    .moment {
        position: relative;
        top: 400px;
    }

    .fixed-container {
        border-radius: 8px;
        width: 100%;
        height: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffffff; /* 배경색을 원하는 색상으로 지정합니다. */
        z-index: 999;
    }

</style>

<head th:replace="fragments/common :: head('모멘트')">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('moment')">
</nav>
<!--입력폼-->
<div class="form-container-inputform">
    <a class="btn"
       style="background-color: transparent; border: none; padding: 0;">

        <img th:src="@{${#strings.isEmpty(commonUser.storedFileName) ? '/uploads/basicProfile.jpg' : '/uploads/' + commonUser.storedFileName}}"
             alt="Profile Image"
             style="width: 35px; height: 35px; object-fit: cover; margin-bottom:10px; border-radius: 50%; overflow: hidden;"
             sec:authorize="isAuthenticated()">

    </a>
    <textarea class="input-area form-control"
              placeholder="입력하세요" id="area-content" name="content" maxlength="200"></textarea>
    <div class="invalid-feedback" id="error-message">
        내용 에러 메세지
    </div>
    <!-- 파일 선택 input -->
    <!--    <input type="file" class="image-upload" accept="image/*" multiple onchange="previewImages(this)">-->


    <div class="button-container">
        <input id="upload_file" type="file" class="image-upload" accept="image/*" multiple onchange="onChange(event)"
               style="position:absolute; clip:rect(0, 0, 0, 0);">
        <label for="upload_file"
               style="border: 1px solid darkgray; padding: 5px; margin-bottom:0px; cursor: pointer; display: inline-block; background-color: #f0f0f0; border-radius: 5px; float: left">
            첨부 이미지
        </label>
<button th:action="${#authorization.expression('isAuthenticated()')}" class="btn btn-primary" id='wri' >입력</button>
    </div>

    <!-- 이미지 미리보기 영역 -->
    <div id="image-preview-container" class="selected-images" style="margin-top:10px"></div>


</div>

<div class="fixed-container "></div>
<div id="content"> <!-- 이 부분이 있는지 확인하세요. -->
    <!-- content 내용 -->
</div>


<!--데이터 반환 폼-->
<div class="moment" th:each="moment : ${moments}" style="overflow: auto;">
    <div class="form-container" style="border: 2px solid blue;">
        <div>
            <a class="btn" style="background-color: transparent; border: none; padding: 0;"></a>
        </div>
        <div style="overflow: auto;">
            <textarea class="input-area form-control"
                      th:text="${moment.content}" name="content" maxlength="200" readonly></textarea>
            <div th:each="momentImg : ${moment.momentImg}">
                <img th:src="@{'/uploads/moment/' + ${momentImg.storedFileName}}" alt="Moment Image"
                     style="width: 100px; height: 100px; margin-right: 10px; float: left;">
            </div>
        </div>
        <!-- 추가된 수정 및 삭제 버튼 -->
        <div class="text-right">
            <button class="btn btn-primary" onclick="updateForm()">수정</button>
            <button class="btn btn-primary" onclick="deleteForm()">삭제</button>
        </div>
    </div>
    <!-- 추가된 clearfix -->
    <div style="clear: both;"></div>
</div>
<!--<button class="btn btn-primary" onclick="updateForm()">수정</button>-->
<!--        <button class="btn btn-primary" onclick="deleteForm()">삭제</button>-->


<script th:inline="javascript">
        document.getElementById('wri').addEventListener('click', function () {
        // Check if the user is authenticated (logged in)
  var loggedInUserId = $('#loggedInUserId').val();

        if (!loggedInUserId) {

              // If not authenticated, show an alert and navigate to the login page
            alert("로그인이 필요합니다. 로그인 페이지로 이동합니다.");
            location.href = "/member/loginForm"; // 로그인 페이지 URL에 맞게 수정하세요

        } else {
  submitForm();
        }
    });




    let selectedImages = [];

    function onChange(event) {
        previewImages(event.target.files);
        event.target.value = '';
    }

    function previewImages(files) {
        const previewContainer = document.getElementById('image-preview-container');

        // 최대 3개까지만 미리보기 표시
        for (let i = 0; i < Math.min(files.length, 3); i++) {
            const file = files[i];

            // 이미지가 3개를 넘어가면 alert 창 띄우고 추가 중단
            if (selectedImages.length >= 3) {
                alert('최대 3개까지만 선택할 수 있습니다.');
                break;
            }

            // 선택된 이미지 배열에 추가
            selectedImages.push(file);

            // 미리보기 이미지 엘리먼트 생성 및 추가
            const previewImg = createPreviewImage(file);
            previewContainer.appendChild(previewImg);
        }
    }

    function createPreviewImage(file) {
        const previewImg = document.createElement('img');
        previewImg.src = URL.createObjectURL(file);
        previewImg.alt = 'Image Preview';
        previewImg.style.width = '100px';  // 이미지 너비를 100px로 설정
        previewImg.style.height = '100px'; // 이미지 높이를 100px로 설정

        // 손가락 표시 및 이미지 이름 뜨게 설정
        previewImg.style.cursor = 'pointer';
        previewImg.title = file.name;

        // 이미지 클릭 시 제거 이벤트 리스너 추가
        previewImg.addEventListener('click', () => removePreviewImage(previewImg, file));

        return previewImg;
    }

    function removePreviewImage(previewImg, file) {
        const index = selectedImages.indexOf(file);
        if (index !== -1) {
            selectedImages.splice(index, 1);  // 배열에서 해당 파일 제거
        }

        previewImg.remove();  // 뷰에서 해당 이미지 제거
    }

    <!--   전송  -->
    function submitForm() {
        var formData = new FormData();

        formData.append('content', $('#area-content').val());
        for (var i = 0; i < selectedImages.length; i++) {
            formData.append('momentImgs', selectedImages[i]);
        }

        $.ajax({
            type: 'POST',
            url: '/moment/save',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log('Save successful:', data);
                fetchMomentList(data);  // 수정된 부분
            },
            error: function (error) {
                console.error('Error saving data:', error.responseText);

                var validationErrors = JSON.parse(error.responseText);

                $('#error-message').text(validationErrors.content);

                if (validationErrors.content) {
                    $('#area-content').addClass('is-invalid');
                    $('#error-content').text(validationErrors.content);
                } else {
                    $('#area-content').removeClass('is-invalid');
                    $('#error-content').text('');
                }
            }
        });

        function fetchMomentList(data) {
            $.ajax({
                type: 'GET',
                url: '/moment/result',
                success: function (moments) {
                    console.log("데이터", moments);
                    createMomentHtml(data, moments);  // 수정된 부분
                },
                error: function (error) {
                    console.error('Error fetching moment list:', error);
                }
            });
        }

        function createMomentHtml(moment, moments) {
            // 기존 목록을 지우고 새로운 목록을 추가하기 전에 기존 목록을 초기화합니다.
            // selectedImages.length = 0;
            selectedImages = [];
            $('#image-preview-container').empty();
            $('#area-content').val('');
            $('.moment').empty();
            // $('#content').empty();

            // 각 moment 객체에 대한 HTML을 생성하고 #content에 추가합니다.
            moments.forEach(function (momentItem) {
                $('#content').append(generateMomentHtml(momentItem));
            });
        }

        function generateMomentHtml(moment) {
            const momentHtml = $('<div>').addClass('moment').css('overflow', 'auto');

            const formContainer = $('<div>').addClass('form-container').css({
                'border': '2px solid blue',
                'overflow': 'auto'
            });

            // const imgContainer = $('<div>').append(
            //     $('<a>').addClass('btn').css({
            //         'background-color': 'transparent',
            //         'border': 'none',
            //         'padding': '0'
            //     }).append(
            //         $('<img>').attr({
            //             'src': moment && moment.commonUser && moment.commonUser.storedFileName ? '/uploads/' + moment.commonUser.storedFileName : '/uploads/basicProfile.jpg',
            //             'alt': 'Profile Image'
            //         }).css({
            //             'width': '35px',
            //             'height': '35px',
            //             'object-fit': 'cover',
            //             'margin-bottom': '10px',
            //             'border-radius': '50%',
            //             'overflow': 'hidden'
            //         }).attr('sec:authorize', 'isAuthenticated')
            //     )
            // );

            const textContainer = $('<div>').css('overflow', 'auto').append(
                $('<textarea>').addClass('input-area form-control').attr({
                    'name': 'content',
                    'maxlength': '200',
                    'readonly': 'readonly'
                }).text(moment.content)
            );

            const imgListContainer = $('<div>').addClass('img-list-container').append(  // 수정된 부분
                moment.imageUrls ? moment.imageUrls.map(imageUrl =>
                    $('<img>').attr({
                        'src': imageUrl,
                        'alt': 'Moment Image'
                    }).css({
                        'width': '100px',
                        'height': '100px',
                        'margin-right': '10px',
                        'float': 'left'
                    })
                ) : []
            );

            // formContainer.append(imgContainer, textContainer, imgListContainer);
            formContainer.append(textContainer, imgListContainer);
            momentHtml.append(formContainer);
            momentHtml.append($('<div>').css('clear', 'both'));

            return momentHtml;
        }
    }


</script>
</body>
</html>