<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">
</head>
<body>
<!--파라미터로 board -> nav가 활성화 됨-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('boardList')">
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <h1>게시판</h1>
  </div>
</main>

<div class = "container">
    <div> 총 건수: <span th:text="${boards.totalElements}"></span></div>
</div>
<!--<div th:text="${#authentication.name}" id="username" hidden></div>-->
<input type="hidden" id="loggedInUserId" name="loggedInUserId" th:if="${#authorization.expression('isAuthenticated()')}" th:value="${userSession.username}" />



    <div style="width: 80%; margin: 0 auto;">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일자</th>
            <th scope="col">조회수</th>
            </tr>
          </thead>
          <tbody>
            <!--반복문-->
            <tr th:each="boarda : ${boards}">
            <td th:text="${boarda.id}">번호</td>
            <td><a th:text="${boarda.title}" th:href="@{/board/detail(id=${boarda.id})}"> 제목</a></td>
            <td th:text="${boarda.author}">작성자</td>
            <td th:text="${#temporals.format(boarda.createdDate, 'yyyy-MM-dd')}">작성일자</td>

            <td th:text="${boarda.views}">조회수</td>
            </tr>
          </tbody>
        </table>
       <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${boards.pageable.pageNumber == 0} ? 'disabled'">
                    <a class="page-link text-dark" th:classappend="${boards.pageable.pageNumber == 0} ? 'text-primary' : 'text-dark'" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1},  searchText=${param.searchText})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${i <= boards.totalPages}" class="page-link" href="#" th:href="@{/board/list(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'text-primary':'text-dark'"></a>
                </li>
                <li class="page-item" th:classappend="${boards.pageable.pageNumber == boards.totalPages - 1} ? 'disabled'">
                    <a class="page-link text-dark" th:classappend="${boards.pageable.pageNumber == boards.totalPages - 1} ?'text-primary':'text-dark'" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                </li>
            </ul>
       </nav>
        <div class="text-right">
                <button id="wri" type="button"  th:action="${#authorization.expression('isAuthenticated()')}" class="btn btn-primary">글작성</button>
        </div>
    </div>

<script>


    document.getElementById('wri').addEventListener('click', function () {
        // Check if the user is authenticated (logged in)
  var loggedInUserId = $('#loggedInUserId').val();

        if (!loggedInUserId) {

              // If not authenticated, show an alert and navigate to the login page
            alert("로그인이 필요합니다. 로그인 페이지로 이동합니다.");
            location.href = "/member/loginForm"; // 로그인 페이지 URL에 맞게 수정하세요

        } else {
            // If authenticated, navigate to the write form page
            location.href = "/board/writeForm";
        }
    });

</script>
</body>
</html>
