<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/common :: head('회원가입')">-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('join')">-->
<!--</nav>-->
<!--    <form action="/member/save" method="post">-->
<!--        <input type="email" name="memberEmail" placeholder="이메일" id="memberEmail" onblur="emailCheck()">-->
<!--        <input type="text" name="memberPassword" placeholder="비밀번호">-->
<!--        <input type="text" name="memberName" placeholder="이름">-->
<!--        <input type="date" name="birthdate" placeholder="생년월일">-->
<!--        <input type="text" name="memberMobile" placeholder="전화번호">-->
<!--        <input type="text" name="gender" placeholder="성별">-->
<!--        <input type="submit" value="회원가입">-->
<!--    </form>-->

<!--&lt;!&ndash;<form action="/user/save" method="post">&ndash;&gt;-->
<!--<form th:action="@{/user/save}" method="post">-->
<!--    <input name="userId" placeholder="아이디">-->
<!--    <input type="password" name="password" placeholder="비밀번호">-->
<!--    <input type="email" name="email" placeholder="이메일">-->
<!--    <input name="userName" placeholder="이름">-->
<!--    <input type="date" name="birthday" placeholder="생일">-->
<!--    <input name="phoneNumber" placeholder="전화번호">-->
<!--    <button type="submit">회원가입테스트</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->