<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/member/save" method="post">
        <input type="email" name="memberEmail" placeholder="이메일" id="memberEmail" onblur="emailCheck()">
        <input type="text" name="memberPassword" placeholder="비밀번호">
        <input type="text" name="memberName" placeholder="이름">
        <input type="date" name="birthdate" placeholder="생년월일">
        <input type="text" name="memberMobile" placeholder="전화번호">
        <input type="text" name="gender" placeholder="성별">
        <input type="submit" value="회원가입">
    </form>
</body>
</html>