<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .user-table {
        float: left;
        width: 100px; /* 너비를 100px로 설정 */
        margin-right: 20px;
    }

    .user-table th, .user-table td {
        font-size: 12px;
    }

    .user-row {
        cursor: pointer;
    }
</style>


<head th:replace="fragments/common :: head('게시판')">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
</nav>
    <form action="/user/update" enctype="multipart/form-data" method="post">
        <h1 th:text="'Welcome, 아이디 ' + ${userId} + '!'"></h1>
        <h1 th:text="'Welcome, 이메일 ' + ${userEmail} + '!'"></h1>

        <input type="hidden" name="userId" th:value="${userId}">

        file: <input type="file" name="profileFile" onchange="previewImage(this)">
        <br>
        <img id="preview" src="#" alt="미리보기">
        <br>
        <input type="submit" value="파일 저장">
    </form>

    <script>
        function previewImage(input) {
            var preview = document.getElementById('preview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</body>
</html>