<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    /* 추가된 스타일 */
    #preview {

        border-radius: 50%;
        overflow: hidden;
    }

    /*#sform {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: center;*/

    /*}*/

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    #form-submit {
        align-self: flex-end;
        margin-top: 20px;
    }

    #table-container table tr td:first-child {
        width: 130px;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    .wrapper {
        display: flex;
    }

    .sidebar {
        background-color: #343A40;
        margin-top: 30px;
        color: white;
        width: 200px;
        padding: 20px;
        height: 700px;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar a {
        text-decoration: none;
        color: white;
        padding: 8px 16px;
        display: block;
    }

    .sidebar a:hover {
        background-color: #555;
        color: white;
    }

    .main-content {

        flex-grow: 1;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        align-items: center;
    }


</style>

<head th:replace="fragments/common :: head('회원 수정')">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
</nav>


<div id="sform">
    <nav class="sidebar" style="float: left">
        <!-- Sidebar content goes here -->
        <ul>
            <li><a href="/user/mypage">마이 페이지</a></li>
            <li><a href="/board/myBoardList">나의 게시글</a></li>
            <li><a href="/moment/myMomentList">나의 모멘트</a></li>
            <li style="margin-bottom: 450px"><a href="/comment/myCommentList">나의 댓글</a></li>

            <li><a href="/user/withdrawForm">회원탈퇴</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <!-- Main content goes here -->
        <div class="content-center">

            <container>
                <!--                    <input type="hidden" name="userId" th:value="${userId}">-->

                <!-- 파일 업로드 -->
                <div style="width: 700px;">
                    <br>
                    <div id="preview" style="width: 200px;">
                        <img th:src="@{${#strings.isEmpty(commonUser.storedFileName) ? '/uploads/basicProfile.jpg' : '/uploads/' + commonUser.storedFileName}}"
                             alt="Profile Image" style="width: 200px; height: 200px; object-fit: cover;">
                    </div>
                    <div style="margin-top: 20px">
                        <label for="profileFile">프로필 이미지:</label>
                        <input type="file" name="profileFile" id="profileFile" onchange="previewImage(this)"
                               style=" width: 250px;">
                        <button style="border: 1px solid #ccc; padding: 5px 10px; margin-left: 10px;"
                                class="btn btn-default" id="updateProfile"
                                onclick="updateProfile();"
                        >변경
                        </button>
                    </div>

                    <br>
                </div>


                <!-- 회원 정보 테이블 -->
                <div id="table-container">
                    <table>
                        <tr>
                            <td>아이디</td>
                            <td><span th:text="${userId}"></span></td>
                        </tr>

                        <tr>
                            <td>비밀번호</td>
                            <td>
                                <input type="password" name="password" placeholder="현재 비밀번호 입력하세요" class="pw"
                                       id="currentPw"  th:readonly="${userLoginType eq 'L2'}">
                                <i class="fa-solid fa-eye-slash fa-xs" id="togglePassword"></i>
                                <font id="nowPw" size="2"></font>
                                <button style="border: 1px solid #ccc; padding: 5px 10px; margin-left: 10px;"
                                        class="btn btn-default" value="확인" id="currentPwCheckBtn"
                                        onclick="event.preventDefault(); currentPwCheck()"
                                >확인
                                </button>
                            </td>
                        </tr>
                        <tr id="tr1" style="display: none;">
                            <td id="td1">비밀번호 변경</td>
                            <td>
                                <input type="password" name="password" placeholder="비밀번호" class="pw" id="pw1"
                                >
                                <i class="fa-solid fa-eye-slash fa-xs" id="togglePassword1"></i>
                                <font id="pw" size="2"></font>
                            </td>
                        </tr>
                        <tr id="tr2" style="display: none;">
                            <td id="td2">비밀번호 확인</td>
                            <td>
                                <input type="password" placeholder="비밀번호 확인" id="pw2" class="pw">
                                <i class="fa-solid fa-eye-slash fa-xs" id="togglePassword2"></i>
                                <button style="border: 1px solid #ccc; padding: 5px 10px; margin-left: 10px;"
                                        class="btn btn-default" id="PwCheckBtn"
                                        onclick="event.preventDefault(); updatePasswordProcess()"
                                >변경
                                </button>
                                <font id="checkPw" size="2"></font> <br>

                            </td>
                        </tr>

                        <td>이메일</td>
                        <td colspan="1">
                            <input type="email" name="email" placeholder="이메일" id="email"
                                   th:value="${userEmail}"
                                   th:readonly="${userLoginType eq 'L2'}">
                            <button style="border: 1px solid #ccc; padding: 5px 10px; margin-left: 10px;margin-left: 30px;"
                                    class="btn btn-default" id="emailCheck"
                            >변경
                            </button>
                            <!--                                onclick="event.preventDefault();"-->
                            <font id="spaceEmail" size="2"></font>
                        </td>
                        </tr>
                        <tr>
                            <td>휴대폰 번호</td>
                            <td>
                                <input type="text" name="phoneNumber" id="phonenumber"
                                       th:value="${userPhoneNumber}">
                                <button type="button" id="sendCode" class="btn btn-default"
                                        style="border: 1px solid #ccc; padding: 5px 10px;">코드 발송
                                </button>
                                <div style="margin-top: 5px">
                                    <font id="spacePhonenum" size="2"></font>
                                </div>

                                <div id="codeCheck" class="mb-3" style="display: none; align-items: center;">
                                    <input type="text" class="form-control" name="smsCode" id="smsCode"
                                           placeholder="코드 입력하세요"
                                           style="width:185px; margin-right: 3px">
                                    <button type="button" id="codeCheckButton" class="btn btn-default"
                                            style="float: left; border: 1px solid #ccc; padding: 5px 10px;">번호 변경
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>자기소개</td>
                            <td><textarea name="selfIntroduction" th:text="${selfIntroduction}"></textarea>
                                <div class="text-right">
                                    <button type="button" id="Statement" class="btn btn-default"
                                            style="border: 1px solid #ccc; padding: 5px 10px;">작성
                                    </button>
                                </div>
                            </td>


                        </tr>
                    </table>
                </div>


            </container>
        </div>
    </div>
</div>


<script th:inline="javascript">
    var loggedInUserId = $('#loggedInUserId').val();

    // 현재 비밀번호 입력이 완료된 후 실행되는 함수
function showPasswordFields() {
    var tr1 = document.getElementById("tr1");
    var td1 = document.getElementById("td1");
    var tr2 = document.getElementById("tr2");
    var td2 = document.getElementById("td2");

    // 항상 보이게 설정
    tr1.style.display = "table-row";
    td1.style.display = "table-cell";
    tr2.style.display = "table-row";
    td2.style.display = "table-cell";
}


    var userPhoneNumber = /*[[${userPhoneNumber}]]*/ '';
    //제출시
    // $("#form-submit").on("click", function (event) {
    //     checkEmail(function (result) {
    //         if (result == false) {

    //             event.preventDefault();
    //
    //         }
    //     });
    //
    //     // 코드 확인 수행
    //     var userInputPhoneNumber = $("#phonenumber").val();
    //     if (userInputPhoneNumber == userPhoneNumber) {
    //
    //         // $('#form-submit').submit();
    //
    //     } else {
    //         confirmSmsCode(function (result) {
    //
    //             // 코드 확인 실패한 경우
    //             if (result) {
    //
    //                 alert('코드 인증 완료')
    //                 submitForm();
    //             } else {
    //             }
    //
    //         });
    //         //휴대폰 번호 다름
    //         event.preventDefault();
    //         // event.preventDefault();
    //
    //     }
    // });

    // 폼 제출 함수
    function submitForm() {
        // 여기에서 폼을 직접 제출합니다.
        $('#form-submit').closest('form').submit();
    }

    function previewImage(input) {
        var preview = document.getElementById('preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.innerHTML = '<img src="' + e.target.result + '" alt="Profile Image" style="width: 200px; height: 200px; object-fit: cover;">';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }


    //HTML 문서의 모든 요소들이 브라우저에 로드되고 초기화된 후에 스크립트 코드를 실행하고자 할 때 사용됨. 돔형성 후
    $(document).ready(function () {

// 코드발송, (발송 전 전화번호 유효성 검사, 코드 발송, 코드입력폼 활성화)
        $('#sendCode').on('click', function () {
            let receiverId = document.getElementById("phonenumber").value;

            // 숫자로만 구성되어 있는지 체크
            var reg = /^[0-9]{11}$/;
            if (!reg.test(receiverId)) {
                // alert('숫자로 입력바랍니다.')
                $("#phonenumber").val(userPhoneNumber);

                $("#phonenumber").focus();
                $("#spacePhonenum").html('전화번호를 다시 확인하세요');
                $("#spacePhonenum").css('color', 'red');
                $("#phonenumber").focus();
                return false;
            }
            if (receiverId === "") {
                alert("휴대폰 번호를 입력하세요.");
                $("#Number").focus();
                return false;
            }
            //문자 발송
            sendSMS();
            //코드 입력폼 활성화
            sendCodeForm();
        });

//문자 발송 ajax
        function sendSMS() {
            //문구 비우기
            $("#spacePhonenum").html('');
            let phoneNumber = document.getElementById("phonenumber").value;

            $.ajax({
                url: "/sms/send",
                type: 'post',
                data: {to: phoneNumber},
            })
                .done(data => {

                    if (data != null && data.num != null) {
                        alert(`${phoneNumber} 문자발송했습니다`);
                        // $("#numValue").val(data.num);
                    } else {
                        alert(`문자 발송 안됐습니다.`);
                    }
                })
                .fail(reject => console.log(reject));
        }

        //코드입력창, 검증 버튼 화면에 보이게 하기
        function sendCodeForm() {
            $('#codeCheck').css('display', 'flex');
            // $("#codeCheck").css("display", "block");

        }

    });

    //함수 정의
    //서브밋시
    // 코드 비교 함수 정의( 서브밋 후 실행됨 그다음 회원의 휴대폰 번호도 체크한다. )
    function confirmSmsCode(callback) {
        var phoneNumberValue = $("#phonenumber").val();
        var userCodeValue = $("#smsCode").val();

        // phoneNumberValue와 userCodeValue가 모두 값이 있는 경우에만 AJAX 통신 수행
        if (phoneNumberValue && userCodeValue) {
            $.ajax({
                url: "/compareCodes",
                type: 'post',
                data: {inputedPhonenumber: phoneNumberValue, userInputNumber: userCodeValue},
            })
                .done(success => {


                    if (success.result === "success") {
                        // 성공적으로 코드가 확인된 경우, 이 번호가 db에 있는지 체크시행한다
                        // 565에서 정의한 checkPhoneNumber의 결과인 result를 콜백함수에 넣음.
                        callback(true);
                    } else {

                        // 코드가 일치하지 않는 경우 false를 전달하면
                        if (success.result === 'failure') {
                            alert('코드가 일치하지 않습니다.')
                            //코드 지우기
                            $("#smsCode").val('');
                            callback(false);

                        }
                    }
                })
                .fail(() => {
                    console.error("서버요청 실패");
                    alert("서버요청 실패");
                    callback(false);  // 콜백 함수 호출, 실패 여부 전달
                });
        } else {
            // phoneNumberValue 또는 userCodeValue가 값이 없는 경우에 대한 처리
            callback(false);  // 콜백 함수 호출, 실패 여부 전달

        }
    }


    //서브밋 과정에서 코드 적합 여부 판단 후 db에 존재하는 휴대폰 번호인지 확인
    // checkPhoneNumber 함수 정의

    $('#codeCheckButton').on('click', function () {


        // 코드 확인


        // confirmSmsCode 실행 후 result를 가져와서 내부에서 실행한다.
        // result는 confirmSmsCode 함수에서 비동기적으로 처리한 작업의 결과이다.
        // 실행함수. 여기서 실행한다.
        confirmSmsCode(function (result) {
            // result에 false가 반환되면 실행되는 부분. 코드가 올바르게 확인되지 않아 회원가입이 안 되는 경우
            if (!result) {
                //인증 실패

                return false;
            } else {
                // 코드 인증이 성공한 경우
                // result에 false가 반환되면 실행되는 부분. 인증이 성공하여 DB 조회가 필요한 경우
                checkPhoneNumber(function (checkResult) {
                    if (checkResult === 'a') {

                        alert('코드가 인증되었습니다.')
                        //휴대폰 번호 업데이트
                        updatePhoneNumber();

                    } else {
                        // alert('코드가 맞지 않습니다.');
                    }
                });
            }
        });
    });
    //휴대폰 번호 유효성체크
    $(document).ready(function () {
        // 입력 필드에서 포커스 아웃 이벤트를 감지
        $("#phonenumber").blur(function () {
            phoneNumberValidate();
        });
    });

    function phoneNumberValidate() {
        var phonenumber = $("#phonenumber").val();
        var reg = /^[0-9]{11}$/;

        if (!reg.test(phonenumber)) {
            // alert("전화번호는 숫자로만 입력해야 합니다.");

            $("#phonenumber").val(userPhoneNumber);

            $("#phonenumber").focus();
            $("#spacePhonenum").html("전화번호를 다시 확인하세요.");
            $("#spacePhonenum").css('color', 'red');


            return;
        }
    }

    // checkPhoneNumber 함수 수정
    function checkPhoneNumber(callback) {
        var phonenumber = $("#phonenumber").val();
        var reg = /^[0-9]{11}$/;

        if (!reg.test(phonenumber)) {
            $("#spacePhonenum").html("전화번호를 다시 확인하세요.");
            $("#spacePhonenum").css('color', 'red');
            // alert("전화번호는 숫자로만 입력해야 합니다.");
            $("#phonenumber").focus();
            callback('b'); // 실패 시 콜백에 'b'를 전달
            return;
        }

        phonenumber = phonenumber.replace(/-/g, '');

        $.ajax({
            url: "/phoneNumberCheck",
            type: "post",
            data: {phoneNumber: phonenumber},
            dataType: 'json',
            success: function (result) {
                if ($.isEmptyObject(result) || result.userId === null) {
                    // $("#spacePhonenum").html('사용할 수 있는 전화번호입니다');
                    // $("#spacePhonenum").css('color', 'green');
                    callback('a'); // 성공 시 콜백에 'a'를 전달
                } else {
                    $("#phonenumber").val(userPhoneNumber);

                    $("#phonenumber").focus();
                    $("#codeCheck").css("display", "none");
                    document.getElementById("smsCode").value = '';

                    $("#spacePhonenum").html("이미 등록된 전화번호입니다.");
                    $("#spacePhonenum").css('color', 'red');
                    callback('b'); // 실패 시 콜백에 'b'를 전달
                }
            },
            error: function (xhr, status, error) {
                console.error("서버 요청 실패:", status, error);
                alert("서버 요청 실패: " + status + " - " + error);
                callback('b'); // 실패 시 콜백에 'b'를 전달
            }
        });
    }

    //비밀번호 변경, 유효성체크

    $('#pw1').on('input', function () {
        validatePassword()
    });

    $('#pw2').on('input', function () {
        checkPasswordMatch();
    });

    function validatePassword(callback) {
        var pw = $("#pw1").val();
        var num = pw.search(/[0-9]/g);
        var eng = pw.search(/[a-z]/ig);
        var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

        if (pw.length < 8 || pw.length > 20) {
            showMessage("비밀번호는 8자리에서 20자리 이내로 입력해주세요.", 'red');
            callback(false);
        } else if (pw.search(/\s/) !== -1) {
            showMessage("비밀번호는 공백 없이 입력해주세요.", 'red');
            callback(false);
        } else if (num < 0 || eng < 0 || spe < 0) {
            showMessage("영문, 숫자, 특수문자를 혼합하여 입력해주세요.", 'red');
            callback(false);
        } else {
            showMessage("조건을 충족합니다.", 'green');
            callback(true);
        }
    }

    function showMessage(message, color) {
        $("#pw").html(message);
        $("#pw").css('color', color);
        $("#pw1").focus();
    }

    function checkPasswordMatch(callback) {
        var number1 = $("#pw1").val();
        var number2 = $("#pw2").val();

        if (number1 !== '' && number2 !== '' && number1 === number2) {
            showPasswordMatchMessage('번호가 같습니다.', 'green');
            callback(true);
        } else if (number1 !== '' && number2 !== '' && number1 !== number2) {
            showPasswordMatchMessage('번호가 다릅니다.', 'red');
            $("#pw2").focus();
            callback(false);
        }
    }

    function showPasswordMatchMessage(message, color) {
        $("#checkPw").html(message);
        $("#checkPw").css('color', color);
        // $("#email").focus();  //
    }

    $(document).ready(function () {
        $('#togglePassword,#togglePassword1, #togglePassword2').on('click', function () {
            var inputField = $(this).siblings('input');
            inputField.toggleClass('active');

            if (inputField.hasClass('active')) {
                $(this).attr('class', 'fa-solid fa-eye fa-xs');
                inputField.attr('type', 'text');
            } else {
                $(this).attr('class', 'fa-solid fa-eye-slash fa-xs');
                inputField.attr('type', 'password');
            }
        });
    });

    function currentPwCheck() {
        var currentPw = $("#currentPw").val();

        $.ajax({
            url: "/currentPwCheck",
            type: "post",
            data: {currentPw: currentPw, userId: loggedInUserId},
            dataType: 'json',
            success: function (result) {
                if (result == 1) {
                    showPasswordFields()
                    alert('변경할 비밀번호를 입력하세요.');
                    return false;
                } else if (result == 0) {
                    alert('비밀번호를 입력하세요.');
                    // $("#spaceEmail").html('');

                } else if (result == -1) {
                    alert('비밀번호가 다릅니다.');
                }

                // 비동기 작업이 완료된 후에 콜백 함수 호출
                // if (typeof callback === 'function') {
                //     callback(result !== -1);
                // }
            },
            error: function () {
                alert("서버요청실패!");
            }
        });
    }

    function updatePhoneNumber() {
        var phonenumber = $("#phonenumber").val();
        $.ajax({
            url: "/updatePhoneNumber",
            type: "post",
            data: {phoneNumber: phonenumber, userId: loggedInUserId},
            dataType: 'json',
            success: function (result) {
                if (result) {
                    alert("휴대폰 번호 변경 완료")

                    $('#codeCheck').css('display', 'none');

                    $("#smsCode").val('');

                    // callback(true);
                } else {
                    alert("휴대폰 번호 변경 실")

                }

                // 비동기 작업이 완료된 후에 콜백 함수 호출
                // if (typeof callback === 'function') {
                //     callback(result !== -1);
                // }
            },
            error: function () {
                alert("서버요청실패!");
            }
        });
    }

    function updateEmail() {
        var email = $("#email").val();
        $.ajax({
            url: "/updateEmail",
            type: "post",
            data: {email: email, userId: loggedInUserId},
            dataType: 'json',
            success: function (result) {
                if (result) {
                    alert("이메일 변경 완료")
                } else {
                    alert("이메일 변경 실패")

                }
            },
            error: function () {
                alert("서버요청실패!");
            }
        });
    }

    $('#email').on('input', function (event) {
        checkEmail(function (result) {
            if (result) {
                // updateEmail();
            } else {
                event.preventDefault();
            }

        });
    });
    $('#emailCheck').on('click', function (event) {
        // alert('hi')
        // event.preventDefault();
        checkEmail(function (result) {
            if (result) {

                updateEmail();
            } else {

                event.preventDefault();
            }

        });
    });

    //이메일체크 콜백함수 정의
    function checkEmail(callback) {
        var email = $("#email").val();

        $.ajax({
            url: "/emailCheck",
            type: "post",
            data: {email: email},
            dataType: 'json',
            success: function (result) {
                if (result == -1) {
                    $("#spaceEmail").html('이메일 형식이 아닙니다.');
                    $("#spaceEmail").attr('color', 'red');
                    callback(false);
                } else {
                    callback(true);
                    $("#spaceEmail").html('');

                }

                // 비동기 작업이 완료된 후에 콜백 함수 호출
                // if (typeof callback === 'function') {
                //     callback(result !== -1);
                // }
            },
            error: function () {
                alert("서버요청실패!");
            }
        });
    }


    //프로필 사진 업데이트

    function updateProfile(callback) {
        var fileInput = $('#profileFile')[0];

        if (fileInput.files.length > 0) {
            var formData = new FormData();
            formData.append('profileFile', fileInput.files[0]);
            formData.append('userId', loggedInUserId);

            $.ajax({
                url: "/user/updateProfile",
                type: "post",
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result == -1) {
                        alert('프로필 사진 변경 실패');
                        callback(false);
                    } else {
                        alert('프로필 사진 변경 완료');
                        callback(true);
                    }
                },
                error: function () {
                    alert("서버요청실패!");
                }
            });
        } else {
            // 파일이 선택되지 않았을 때의 처리
            alert('파일을 선택하세요.');
            callback(false);
        }
    }

    //비밀번호 변경 프로세스
    function updatePasswordProcess() {


        validatePassword(function (isValidPassword) {
            if (isValidPassword) {
                checkPasswordMatch(function (isPasswordMatch) {
                    if (isPasswordMatch) {
                        updatePassword();
                    }
                });
            }
        });
    }

    function updatePassword() {
        var newPassword = $("#pw1").val();
        $.ajax({
            url: "/updatePassword",
            type: "post",
            data: {password: newPassword, userId: loggedInUserId},
            dataType: 'json',
            success: function (result) {
                if (result == 1) {
                    alert("비밀번호 변경 완료")
                    $('#pw1').val('');
                    $('#pw2').val('');
                    $('#currentPw').val('');
                    tr1.style.display = "none";
                    td1.style.display = "none";
                    tr2.style.display = "none";
                    td2.style.display = "none";

                } else if (result == 0) {
                    //0 반환
                    alert("비밀번호 변경 실")
                    $('.pw').val('');

                } else {
                    alert('기존 비밀번호와 동일합니다.')
                    $('#pw1').val('');
                    $('#pw2').val('');

                }
            },
            error: function () {
                alert("서버요청실패!");
            }
        });
    }


</script>
</body>

</html>