<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head th:replace="fragments/common :: head('plikim')">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
    </nav>

    <main role="main" class="container">
        <div style="display: flex; justify-content: center; align-items: center;">
        </div>
        <iframe id="online-alarm-kur-iframe" src="https://embed-countdown.onlinealarmkur.com/ko/#2024-01-01T00:00:00@Asia%2FSeoul" width="300" height="40" style="display: block; margin: 0px auto; border: 0px;"></iframe>

        <div class="starter-template">
            <p>&#128052;</p>
            <span sec:authorize="isAuthenticated()">사용자는 인증되었습니다.</span>
            <span sec:authorize="!isAuthenticated()">사용자는 인증되지 않았습니다.</span>
    <!--        <img src="/img/500.jpeg" alt="image" class="responsive-images">-->
            <div class = "container">
<!--            <div> 총 건수: <span th:text="${user.totalElements}"></span></div>-->
            </div>
            <table class="table  table-hover">
              <thead>
                <tr>
                  <th scope="col">프로필 사진</th>
                  <th scope="col">아이디</th>
                  <th scope="col">자기소개</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="user : ${user}">
                  <td th:text="${user.id}">아이디</td>
                  <td><a th:text="${user.username}" > 이름</a></td>
    <!--              <td>홍길동</td>길-->
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${user.pageable.pageNumber == 0} ? 'disabled'">
                        <a class="page-link text-dark" th:classappend="${user.pageable.pageNumber == 0} ? 'text-primary' : 'text-dark'" href="#" th:href="@{/(page=${user.pageable.pageNumber - 1},  searchText=${param.searchText})}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                        <a th:if="${i <= user.totalPages}" class="page-link" href="#" th:href="@{/(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}" th:classappend="${i == user.pageable.pageNumber + 1} ? 'text-primary' : 'text-dark'"></a>
                    </li>
                    <li class="page-item" th:classappend="${user.pageable.pageNumber == user.totalPages - 1} ? 'disabled'">
                        <a class="page-link text-dark" th:classappend="${user.pageable.pageNumber == user.totalPages - 1} ? 'text-primary' : 'text-dark'" href="#" th:href="@{/(page=${user.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </main>
</body>
</html>
