<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>회원 목록</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"-->
<!--          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"-->
<!--          crossorigin="anonymous">-->
<!--</head>-->

<head th:replace="fragments/common :: head('게시판')">
</head>
<style>
    .container-fluid {
        float: right;
        width: 20%; /* 또는 원하는 값으로 조절 */
    }

    /*.float-right {*/
    /*    width: 100%;*/
    /*}*/
</style>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('home')">
</nav>

<!--<div class="container mt-5">-->
<!--    <h1>Online Users</h1>-->
<!--    <ul id="online-users" class="list-group"></ul>-->
<!--</div>-->
<input type="hidden" id="loggedInUserId" name="loggedInUserId" th:if="${#authorization.expression('isAuthenticated()')}" th:value="${userSession.username}" />

<div class="container-fluid" style="width: 150px;">

<!--        <div class="col-md-8">-->
<!--            &lt;!&ndash; 좌측 내용 &ndash;&gt;-->
<!--        </div>-->
               <div class="col-md-6" style=" justify-content: end;">
            <!— 우측 사이드바 —>
            <table id="conversation" class="table table-striped" style="width: 150px;">
                    <thead>
                    <tr>
                        <th>로그인 회원</th>
                    </tr>
                    </thead>
                    <tbody id="greetings">
                    </tbody>
                </table>
            </div>

</div>


<main role="main" class="container">
    <div style="display: flex; justify-content: center; align-items: center;">
    </div>

    <div class="starter-template">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">사진</th>
                <th scope="col">아이디</th>
                <th scope="col">자기소개</th>
                <th scope="col">상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${user}" th:id="'user-row-' + ${user.id}" class="user-row">
                <td>프로필 사진 이미지</td>
                <td>
                    <a th:href="@{/user/userdetail(id=${user.id})}" th:text="${user.username}">사용자 이름</a>
                </td>
                <td>자기소개</td>
                <td>
                    <span th:id="'status-' + ${user.username}" style="color: gray;">오프라인</span>
                </td>
            </tr>
            </tbody>
        </table>
<!--페이징-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${user.pageable.pageNumber == 0} ? 'disabled'">
                    <a class="page-link text-dark" th:classappend="${user.pageable.pageNumber == 0} ? 'text-primary' : 'text-dark'" href="#"
                       th:href="@{/(page=${user.pageable.pageNumber - 1},  searchText=${param.searchText})}" tabindex="-1"
                       aria-disabled="true">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${i <= user.totalPages}" class="page-link" href="#"
                       th:href="@{/(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}"
                       th:classappend="${i == user.pageable.pageNumber + 1} ? 'text-primary' : 'text-dark'"></a>
                </li>
                <li class="page-item" th:classappend="${user.pageable.pageNumber == user.totalPages - 1} ? 'disabled'">
                    <a class="page-link text-dark"
                       th:classappend="${user.pageable.pageNumber == user.totalPages - 1} ? 'text-primary' : 'text-dark'"
                       href="#" th:href="@{/(page=${user.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
 <script src="/js/onlineJs.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var userRows = document.querySelectorAll('[id^="user-row-"]');
        userRows.forEach(function (row) {
            row.addEventListener('click', function () {
                var userId = row.id.replace('user-row-', '');
                window.location.href = '/user/userdetail?id=' + userId;
            });
        });
    });
</script>

</body>
</html>
